header {
	text-align: center;
	margin: 120px 0px 20px;
}
header h1 {
	font-size: 120px;
	color: #efde8e;
	font-family: Lucida Handwriting;
}
header h2 {
	font-size: 20px;
	color: #fff;
}
ul {
	width: 940px;
	margin: auto;
	font-size: 0px;
}
ul li {
	display: inline-block;
	width: 188px;
	font-size: 24px;
	text-align: center;
}
ul a {
	color: #000;
	text-decoration: none;
}
ul li a:nth-child(2) {
	margin: auto;
	font-family: Bernard MT Condensed;
}

.turn-gray img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

	filter: grayscale(100%);
	filter: gray;
}

.turn-gray a:hover img {
	animation: 4s turn-gray forwards;
}


@keyframes turn-gray {
  0% {
    -webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

	filter: grayscale(100%);
	filter: gray;
  }
  33%, 100% {
    -webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);

	filter: grayscale(0%);
	filter: none;
  }
}



.turn-rotate a:nth-child(1),
.turn-circle a:nth-child(1),
.turn-cover a:nth-child(1) {
	display: inline-block;
	width: 188px;
	height: 220px;
	/*perspective: 1000px;*/
}

/*.turn-rotate span:before {
	content: url(../images/image3-2.jpg);
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: background 0.3s;
    transform: rotateY(60deg);
    transform-origin: 0% 100%;
}

.turn-rotate span:after {
	content: url(../images/image3-2.jpg);
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 100%;
    transition: background 0.3s;
    transform: rotateY(120deg);
    transform-origin: 0% 0%;
}*/

/*.turn-rotate span {
	width: 100%;
	height: 100%;
	display: inline-block;
	background-image: url(../images/image3-1.jpg);
	position: relative;
	transition: transform 0.3s;
	transform-origin: 0% 0%;
	transform-style: preserve-3d;
}
.turn-rotate a:nth-child(1):hover span {
	animation: turn-rotate 3s linear infinite;
}

@keyframes turn-rotate {
	to { transform: rotateY(-360deg) }
}*/
.rotate-container {
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	position: relative;
	width: 188px;
	height: 220px;
	display: inline-block;
	font-size: 0px;
}
.rotate-container span {
	display: inline-block;
	width: 188px;
	height: 220px;
	/*background-image: url(../images/image3-1.jpg);*/
	position: absolute;
	font-size: 0px;
}
.rotate-container span:nth-child(1) {
	background-image: url(../images/image3-1.jpg);
	transform: translateZ(94px);
	z-index: 1;
	top: 0;
	left: 0;
}
.rotate-container span:nth-child(2) {
	background-image: url(../images/image3-4.jpg);
	transform: rotateY(270deg) translateZ(94px);
	z-index: 1;
	top: 0;
	left: 0;
}
.rotate-container span:nth-child(3) {
	background-image: url(../images/image3-3.jpg);
	transform: rotateY(180deg) translateZ(94px);
	z-index: 1;
	top: 0;
	left: 0;
}
.rotate-container span:nth-child(4) {
	background-image: url(../images/image3-2.jpg);
	transform: rotateY(90deg) translateZ(94px);
	z-index: 1;
	top: 0;
	left: 0;
}
.turn-rotate a:nth-child(1):hover .rotate-container {
	animation: turn-rotate 3s linear infinite;
}

@keyframes turn-rotate {
	to { transform: rotateY(-360deg) }
}


.turn-circle .zhouyi {
	width: 100%;
	height: 100%;
	display: inline-block;
	/*background-image: url(../images/image1_188x220.jpg);*/
	position: relative;
}

.turn-circle .zhouyi:before,
.turn-circle .zhouyi:after {
	content: "";
	position: absolute;
    height: 2px;
    display: inline-block;
    width: 2px;
    border-radius: 50%;
    z-index: 100;
    opacity: 0;
}

.turn-circle .zhouyi:before {
	box-shadow: 0px 0px 5px 5px #fee473;
	background-color: #fee473;
	top: 50%;
	left: -21px;
	transform-origin: 110px 0px;
}

.turn-circle .zhouyi:after {
	box-shadow: 0px 0px 5px 5px #4979ea;
	background-color: #4979ea;
	top: 50%;
    left: 204px;
    transform-origin: -110px 0px;
	
}

.zhouyi- {
    width: 200px;
    height: 200px;
    position: relative;
    /*border-radius: 200px;*/
    background-color: #eee;
    animation: 3s rolla linear infinite;
}
.zhouyi-1,
.zhouyi-2 {
	width: 94px;
    height: 188px;
    position: absolute;
    z-index: 100;
    top: 16px;
}
.zhouyi-1 {
	left: 0;
    background-color: #fff;
    border-radius: 94px 0px 0px 94px;
}
.zhouyi-2 {
    background-color: #000;
    left: 94px;
    border-radius: 0px 94px 94px 0px;
}
.zhouyi-3,
.zhouyi-4 {
    width: 48px;
    height: 94px;
    position: absolute;
    z-index: 101;
}
.zhouyi-3 {
    background-color: #fff;
    left: 93px;
    top: 16px;
    border-radius: 0px 94px 94px 0px;
}
.zhouyi-4 {
    background-color: #000;
    left: 48px;
    top: 110px;
    border-radius: 94px 0px 0px 94px;
}
.zhouyi-5,
.zhouyi-6 {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 102;
    border-radius: 20px;
}
.zhouyi-5 {
    background-color: #fff;
    left: 84px;
    top: 156px;
}
.zhouyi-6 {
    background-color: #000;
    left: 84px;
    top: 56px;
}


.turn-circle a:nth-child(1):hover .zhouyi:before,
.turn-circle a:nth-child(1):hover .zhouyi:after {
	opacity: 1;
	animation: turn-circle 5s linear infinite;
}
.turn-circle a:nth-child(1):hover .zhouyi {
	animation: turn-circle-zhouyi 5s linear infinite;
}

@keyframes turn-circle {
    to { 
        transform: rotate(360deg) ;
    }
}

@keyframes turn-circle-zhouyi {
    to{
        transform: rotate(360deg);
    }
}

.turn-cover span:before {
	content: url(../images/image5-1.jpg);
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: 0 50%;
}

.turn-cover span {
	width: 100%;
	height: 100%;
	display: inline-block;
	background-image: url(../images/image5-2.jpg);
	position: relative;
}

.turn-cover a:nth-child(1):hover span:before {
	animation: turn-cover 1s linear forwards;
}

@keyframes turn-cover {
	70% {
		transform: rotateY(-90deg);
		opacity: 1;
	}
	to { 
		transform: rotateY(-180deg);
		opacity: 0;
	}
}