header {
	text-align: center;
	margin: 120px 0px 20px;
}
header h1 {
	font-size: 120px;
	color: #efde8e;
	font-family: Lucida Handwriting;
}
header h2 {
	font-size: 20px;
	color: #fff;
}
ul {
	width: 940px;
	margin: auto;
	font-size: 0px;
}
ul li {
	display: inline-block;
	width: 188px;
	font-size: 24px;
	text-align: center;
}
ul a {
	color: #000;
	text-decoration: none;
}
ul li a:nth-child(2) {
	margin: auto;
	font-family: Bernard MT Condensed;
}

ul li img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

	filter: grayscale(100%);
	filter: gray;
}

@keyframes turn-gray {
  0% {
    -webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

	filter: grayscale(100%);
	filter: gray;
  }
  33%, 100% {
    -webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);

	filter: grayscale(0%);
	filter: none;
  }
}

ul li img:hover {
	animation: 4s turn-gray;
}